body{
	padding-top: 40px;
	padding-bottom: 40px;
	color:rgba(0,169,157,0.4);
}
			/*INICIO LOGIN*/
.form-login{
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
	background-color:#fff;
	max-width:330px;
	padding:15px;
	margin:0 auto;
}

.form-login .form-login-heading,
.form-login .checkbox{
	margin-bottom:20px;
}

.form-login .form-control{
	position:relative;
	height:auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:10px;
	font-size:16px;
}

.form-login .form-control:focus{
	z-index:2;
}

.form-login input[type="email"]{
	margin-bottom:-1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
} 

.form-login input[type="password"]{
	margin-bottom:10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

			/*FIM LOGIN*/