/*cards*/

#azul {
    background-color: blue;
    border-radius: 4px;
    position: absolute;
    margin-top: 166px;
    margin-left: 20px;
    padding: 0em 1em 1em;
    height: 370px;
    border: 2px 2px 2px 2px;
    border-style: solid;
}

#vermelho {
    background-color: red;
    border-radius: 4px;
    position: relative;
    margin: 166px;
    padding: 0em 1em 1em;
    height: 370px;
    border: 2px 2px 2px 2px;
    border-style: solid;
}

#rosa {
    background-color: pink;
    border-radius: 4px;
    position: relative;
    margin-top: 166px;
    margin-right: 20px;
    padding: 0em 1em 1em;
    height: 370px;
    border: 2px 2px 2px 2px;
    border-style: solid;
}


/*Configurações Padrões*/

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.row.m0 {
    margin: 0px;
}

body {
    line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #6c6e6f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Heebo", sans-serif;
    font-weight: bold;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.p0 {
    padding-left: 0px;
    padding-right: 0px;
}

.p_120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.p_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.p_60 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad_top {
    padding-top: 120px;
}

.pad_bt {
    padding-bottom: 120px;
}

.mt-25 {
    margin-top: 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1620px) {
    .box_1620 {
        max-width: 1620px;
        margin: auto;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* Main Title Area css
  ============================================================================================ */

.main_title {
    text-align: center;
    max-width: 500px;
    margin: 0px auto 75px;
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px;
}


/* End Main Title Area css
  ============================================================================================ */


/*---------------------------------------------------- */


/*----------------------------------------------------*/

.header_area {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
    background-color: #04091e;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}

.header_area .navbar .nav .nav-item .nav-link {
    font: 500 12px/120px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
    margin-left: 40px;
    margin-top: 0px;
    display: inline-block;
}

.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #fff;
}

.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
    }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #222222;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background: #766dff;
    color: #fff;
}

@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}

.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    color: #222222;
    margin-left: 80px;
}

.header_area .navbar .search i {
    font-weight: 600;
}


/*---------------------------------------------------- */


/*----------------------------------------------------*/


/* Home Banner Area css
  ============================================================================================ */


/* End Home Banner Area css
  ============================================================================================ */


/*---------------------------------------------------- */


/*----------------------------------------------------*/


/*----------------------- área da div -------------------------*/

.footer_area {
    background: #000;
    position: relative;
    margin-top: 10px;
    padding: 30px;
}

.f_title {
    margin-bottom: 35px;
}

.f_title h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    /* font-family: "Heebo", sans-serif;*/
    margin-bottom: 0px;
}

.ab_widget p {
    font-size: 14px;
    line-height: 24px;
    /* font-family: "Roboto", sans-serif;*/
    color: #777777;
    margin-bottom: 30px;
}

.ab_widget p a {
    color: #766dff;
}

.ab_widget p+p {
    margin-bottom: 0px;
}

.news_widget {
    padding-right: 15px;
}

.news_widget p {
    font-size: 14px;
    line-height: 24px;
    /* font-family: "Roboto", sans-serif;*/
    color: #777777;
    margin-bottom: 15px;
}

.news_widget .input-group input {
    height: 40px;
    background: transparent;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    border: 1px solid #1e233b;
    font-size: 14px;
    /* font-family: "Roboto", sans-serif;*/
    color: #cccccc;
    outline: none;
    box-shadow: none;
}

.news_widget .input-group input.placeholder {
    font-size: 14px;
    /* font-family: "Roboto", sans-serif;*/
    font-weight: normal;
    color: #cccccc;
}

.news_widget .input-group input:-moz-placeholder {
    font-size: 14px;
    /* font-family: "Roboto", sans-serif;*/
    font-weight: normal;
    color: #cccccc;
}

.news_widget .input-group input::-moz-placeholder {
    font-size: 14px;
    /* font-family: "Roboto", sans-serif;*/
    font-weight: normal;
    color: #cccccc;
}

.news_widget .input-group input::-webkit-input-placeholder {
    font-size: 14px;
    /* font-family: "Roboto", sans-serif;*/
    font-weight: normal;
    color: #cccccc;
}

.news_widget .input-group .sub-btn {
    border-radius: 0px;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    border: none;
    width: 42px;
    cursor: pointer;
    color: #fff;
}

.social_widget p {
    font-size: 14px;
    line-height: 24px;
    /* font-family: "Roboto", sans-serif;*/
    color: #777777;
    margin-bottom: 10px;
}

.social_widget .list li {
    margin-right: 17px;
    display: inline-block;
}

.social_widget .list li a {
    color: #cccccc;
    font-size: 14px;
    transition: all 300ms linear 0s;
}

.social_widget .list li:last-child {
    margin-right: 0px;
}

.social_widget .list li:hover a {
    color: #766dff;
}

.copy_right_text {
    text-align: center;
    margin-top: 60px;
}

.copy_right_text p a {
    color: #766dff;
}